/*Titre en gaut à gauche */
.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

/* Couleur de fond de notre sidebarpanel */
.skin-blue .main-header .logo {
  background-color: #806E5E;
}

/* Couleur quand notre souris passe par-dessus le titre de l'application (en haut à gauche) */
.skin-blue .main-header .logo:hover {
  background-color: #806E5E;
}

/* Ma couleur de fond de notre navbar (ce qui est en haut) */
.skin-blue .main-header .navbar {
  background-color: #806E5E;
}

/* La couleur de fond de notre sidebar */
.skin-blue .main-sidebar {
  background-color: #806E5E;
}

/* La couleur des autres quand ce n'est pas sélectionné */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
  background-color: #FAE5D3 ;
  color : #806E5E;
  border-radius: 30px;
}

/* Quand notre onglet est sélectionné */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
  background-color: #F08080 ;
  color : white;
  border-radius: 30px;
}

/* Quand la souris passe par dessus mais sans cliquer */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
  background-color: white;
  color : #F08080;
  border-radius: 30px;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover{
  background-color: #F08080;
}

/* Nos gros titres */
h1 {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

h6{
  text-align:justify;
  color:black;
  background-color:#FAE5D3;
  padding:15px;
  border-radius:10px
  
}

img {
  display: block;
    margin-left: auto;
    margin-right: auto 
}

  

