h1 {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

.arrondie {
border:2px solid black;
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius: 20%;
}